<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet" type="text/css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>

<!--
  <link href="/dist/css/sb-admin.css" rel="stylesheet">
  <link href="/dist/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/dist/editor/editor.bootstrap4.min.css">
  <link href="/dist/css/buttons.bootstrap4.min.css" rel="stylesheet">
  <link href="/dist/css/select.bootstrap4.min.css" rel="stylesheet">
  <link href="/bower_components/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
  <script src="/bower_components/dataTables-buttons/js/dataTables.buttons.js"></script>
  <script src="/bower_components/dataTables-buttons/js/buttons.bootstrap4.js"></script>
  <script src="/bower_components/dataTables-select/js/dataTables.select.js"></script>
  <script src="/dist/js/socket.io-1.2.0.js"></script>
  <script src="/dist/editor/dataTables.editor.min.js"></script>
  <script src="/dist/editor/editor.bootstrap4.min.js"></script>  
  <script src="/dist/js/sb-admin.min.js"></script>
  
  <script src='/bower_components/pdfmake/build/pdfmake.min.js'></script>
  <script src='/bower_components/pdfmake/build/vfs_fonts.js'></script>
 -->
</head>

<body id='page-top'> 
	<%- partial('header.ejs') %>
	<div id="wrapper">
	  <%- partial('left.ejs') %>
	  <%- body %>
	</div>
	<!--  partial('footer.ejs') %> -->
</body>

</html>
